<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190615501378-i70a3po5vbbel7vos58h50im5vn065p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190615501378-i70a3po5vbbel7vos58h50im5vn065p2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190615501378-f41dgnmnk89hq4tp5i47u6cer65k61vd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGDu0Tgv-oae4OVamyAS06BE_fDybL8bg</string>
	<key>GCM_SENDER_ID</key>
	<string>190615501378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zooshaus.ludodot</string>
	<key>PROJECT_ID</key>
	<string>ludodot-5d924</string>
	<key>STORAGE_BUCKET</key>
	<string>ludodot-5d924.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190615501378:ios:565f7527549344ddbb0bdb</string>
</dict>
</plist>